/* import responsive */
@import url("./responsive.css");

/* variable */
:root {
  --border: rgba(165, 165, 165, 0.2);
  --box-shadow: .1rem .2rem var(--border);
  --primary: #1e0383;
  --primary-foreground: #f6f7ff;
  --secondary: #fadc32;
  --radius: 1rem;
  --background: #ffffff;
  --foreground: #1b1a1a;
  --muted-foreground: #7a7979;
}

/* dark mode */
.dark {
  --primary-foreground: #1e0383;
  --primary: #f6f7ff;
  --foreground: #ffffff;
  --background: #1b1a1a;
}

/* global */
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style: none;
  font-family: "JetBrains Mono", monospace;
  text-decoration: none;
  box-sizing: border-box;
  color: var(--primary);
  font-size: .95rem;
}

::selection {
  background-color: var(--primary);
  color: var(--primary-foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.min-h-screen {
  min-height: 100dvh;
}

.box {
  border-radius: var(--radius);
  border: solid var(--border);
  box-shadow: var(--box-shadow);
}

.container {
  padding: .5rem 1.5rem;
}

.desc {
  color: var(--muted-foreground);
}

.text-center {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;
  width: fit-content;
  border-radius: .8rem;
  padding: .4rem 1rem;
  border: .06rem solid var(--border);
  box-shadow: var(--box-shadow);
  transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-primary {
  --border:var(--primary);
  --box-shadow: .1rem .2rem var(--border);
}

.btn-primary:hover {
  --border:var(--secondary);
  background-color: var(--primary-foreground);
  color: var(--secondary);
  scale: 1.06;
}

.btn:active {
  box-shadow: none;
  scale: .95;
}

/* darkmode toggle */
#theme-toggle {
  width: 2rem;
  height: 2rem;
  padding: .5rem;
  border-radius: var(--radius);
  background-color: transparent;
  border: 1px solid var(--border);
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#theme-toggle:hover {
  background-color: rgba(165, 165, 255, 0.05);
}

.dark #theme-toggle .fa-moon,
#theme-toggle .fa-sun {
  scale: 0 !important;
}

#theme-toggle .fa-moon,
.dark #theme-toggle .fa-sun {
  scale: 1 !important;
}

#theme-toggle .fa-sun,
#theme-toggle .fa-moon {
  width: 100% !important;
  position: absolute;
  transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}


/* header */
#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem 1rem;
  z-index: 999;
}

#header-container {
  background-color: var(--background);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: var(--radius);
  border: .1rem solid var(--border);
  padding: .3rem 1rem;
  box-shadow: var(--box-shadow);
}

#logo {
  width: 2.7rem;
  height: 2.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo .logo-item {
  color: var(--primary);
  font-weight: bolder;
  font-size: 2rem;
  text-indent: -.46rem;
}

#logo .logo-item:nth-child(2) {
  color: var(--secondary);
  z-index: 2;
  border: solid var(--primary-foreground);
  line-height: 1.5rem;
}

#nav {
  position: absolute;
  top: 100%;
  margin-top: .7rem;
  width: 100%;
  border-radius: var(--radius);
  background-color: var(--background);
  border: .1rem solid var(--border);
  padding: .5rem 1rem;
  right: 0;
  left: 0;
  box-shadow: var(--box-shadow);
  transform: scaleY(0);
  transition: transform .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: top;
}

#nav.show {
  transform: scaleY(1);
}

.nav-link {
  display: block;
  margin: .5rem 0;
  padding: .5rem 1rem;
  font-weight: 600;
  border-radius: .5rem;
  border-bottom: solid transparent;
  transition: color, background, border .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link.active,
.nav-link:hover {
  border-bottom: solid var(--border);
  background-color: rgba(255, 165, 165, 0.05);
  color: var(--secondary);
}

.button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

/* hamburger menu */
#hamburger {
  width: 2rem;
  position: relative;
  overflow: hidden;
  height: 2rem;
  border-radius: .4rem;
  background-color: transparent;
  cursor: pointer;
  transition: background .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  border: 1px solid var(--border);
}

#hamburger:hover {
  background-color: rgba(165, 165, 255, 0.05);
}

.hamburger-line {
  background-color: var(--primary);
  width: 70%;
  height: .2rem;
  display: block;
  border-radius: 999px;
  position: absolute;
  align-self: center;
  justify-self: center;
  transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger-line:nth-child(1) {
  top: .50rem;
}

.hamburger-line:nth-child(3) {
  top: 1.15rem;
}

#hamburger.active .hamburger-line:nth-child(1) {
  rotate: 45deg;
  top: 50%;
}

#hamburger.active .hamburger-line:nth-child(2) {
  scale: 0;
}

#hamburger.active .hamburger-line:nth-child(3) {
  top: 50%;
  rotate: -45deg;
}

#hero {
  display: grid;
  justify-content: center;
  align-items: center;
}

#headline, #headline mark {
  font-size: 2rem;
}

#headline mark:hover {
  font-style: italic;
}

.dark #headline mark {
  color: var(--primary-foreground);
}